<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="1000px">
        <form class="mt-20" #clientesFrm="ngForm" (ngSubmit)="salvar()">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Dados pessoais
                    </mat-card-title>
                </mat-card-header>
                <!-- inputs -->
                <mat-card-content class="mt-20">
                    <!-- input nome -->
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="900px">
                            <mat-form-field class="full-width">
                                <mat-label>Nome: *</mat-label>
                                <input type="text" 
                                       [(ngModel)]="cliente.nome"
                                       name="nome"
                                       placeholder="Ex: Alin An dos Ponto"
                                       matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- input email -->
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="900px">
                            <mat-form-field class="full-width">
                                <mat-label>
                                    Email: *
                                </mat-label>
                                <input type="email"
                                       placeholder="Digite seu email" 
                                       [(ngModel)]="cliente.email"
                                       name="email"
                                       matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- input cpf -->
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="400px">
                            <mat-form-field class="full-width">
                                <mat-label>
                                    CPF: *
                                </mat-label>
                                <input type="string" 
                                       placeholder="Digite seu CPF" 
                                       [(ngModel)]="cliente.cpf"
                                       name="cpf"
                                       matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- input data de nascimento -->
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="400px">
                            <mat-form-field class="full-width">
                                <mat-label>
                                    Data de nascimento: *
                                </mat-label>
                                <input type="email" 
                                       placeholder="Digite sua data de nascimento" 
                                       [(ngModel)]="cliente.dataNascimento"
                                       name="dataNascimento"
                                       matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <!-- botões -->
                <mat-card-actions class="ml-7">
                    <!-- botao salvar -->
                    @if (!atualizando) {
                        <button mat-flat-button color="primary" type="submit">
                            <mat-icon fontIcon="save">
                            </mat-icon>
                            Salvar
                        </button>    
                    } @else {
                        <!-- botao atualizar -->
                        <button mat-flat-button color="primary" type="submit">
                            <mat-icon fontIcon="refresh">
                            </mat-icon>
                            Atualizar
                        </button>
                    }
                    
                    <!-- botao limpar -->
                    <button mat-flat-button class="ml-5">
                        <mat-icon fontIcon="backspace">
                        </mat-icon>
                        Limpar
                    </button>

                </mat-card-actions>
            </mat-card>
        </form> <!-- mt = margin-top -->
    </div>
</div>