.spacer {
    flex: 1 1 auto;
}

.box-links {
    display: flex;
    gap: 50px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    font-size: 14px;
}